# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/src/app/backup-custom1-module/custom1-module/brief-result/brief-result/brief-result.component.html
/src/app/backup-custom1-module/custom1-module/brief-result/brief-result/brief-result.component.scss
/src/app/backup-custom1-module/custom1-module/brief-result/brief-result/brief-result.component.spec.ts
/src/app/backup-custom1-module/custom1-module/brief-result/brief-result/brief-result.component.ts
/src/app/backup-custom1-module/custom1-module/customFormControl/custom-form-control/custom-form-control.component.html
/src/app/backup-custom1-module/custom1-module/customFormControl/custom-form-control/custom-form-control.component.scss
/src/app/backup-custom1-module/custom1-module/customFormControl/custom-form-control/custom-form-control.component.spec.ts
/src/app/backup-custom1-module/custom1-module/customFormControl/custom-form-control/custom-form-control.component.ts
/src/app/backup-custom1-module/custom1-module/custom-online-availability/custom-online-availability.component.html
/src/app/backup-custom1-module/custom1-module/custom-online-availability/custom-online-availability.component.scss
/src/app/backup-custom1-module/custom1-module/custom-online-availability/custom-online-availability.component.spec.ts
/src/app/backup-custom1-module/custom1-module/custom-online-availability/custom-online-availability.component.ts
/src/app/backup-custom1-module/custom1-module/customComponentMappings.ts
/src/assets/icons/favicon.ico
/src/assets/readme/favicon.png
/src/assets/icons/haifa.ico
/src/app/backup-custom1-module/custom1-module/header/header.component.html
/src/app/backup-custom1-module/custom1-module/header/header.component.scss
/src/app/backup-custom1-module/custom1-module/header/header.component.spec.ts
/src/app/backup-custom1-module/custom1-module/header/header.component.ts
/src/assets/readme/homepage-background-image.png
/src/assets/readme/homepage-html.png
/src/assets/homepage/homepage_background.svg
/src/assets/homepage/homepage_he.html
/src/assets/readme/logo.png
/src/app/backup-custom1-module/custom1-module/recommendations/recommendations.component.html
/src/app/backup-custom1-module/custom1-module/recommendations/recommendations.component.scss
/src/app/backup-custom1-module/custom1-module/recommendations/recommendations.component.spec.ts
/src/app/backup-custom1-module/custom1-module/recommendations/recommendations.component.ts
/src/assets/readme/svg-icon-example-inspect.png
/src/assets/readme/svg-icon-result.png
